<style>
    .thumbnail {
        max-width: 200px;
        max-height: 200px;
        line-height: 20px;
        margin-bottom: 5px;
    }
</style>

    <div class="page-content" ng-controller="ProfileController">
        <div class="page-header">
            <h1>
                Manange Staffs
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    {{ today | date : "'Date :' d MMMM y , h:mm:ss a" }}
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
           <div class="col-md-3">
               <div flow-init="{target: '/upload'}"
                    flow-files-submitted="$flow.upload()"
                    flow-file-success="$file.msg = $message"
                    flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                   
                       <div class="thumbnail" ng-hide="$flow.files.length">
                           <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
                       </div>
                       <div class="thumbnail" ng-show="$flow.files.length">
                           <img flow-img="$flow.files[0]" />
                       </div>
                   <div>
                       <span class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Upload File</span>
                       <span class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</span>
                       <span class="btn btn-danger" ng-show="$flow.files.length"
                          ng-click="$flow.cancel()">Remove</span>
                   </div>
                       
                      
               </div>
           </div>

            <div class="col-md-9">
                <form class="form-horizontal" role="form">
                    <div class="form-group ">
                        <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Staff Role : </label>
                        <div class="col-sm-7 has-error">
                            <div custom-select="m.MerchantID as m.MerchantName for m in merchants | filter: $searchTerm" ng-model="MerchantID" ng-change="merchantChange()"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> First Name : </label>
                        <div class="col-sm-7 has-error">
                            <input type="text" id="form-field-1" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="form-field-1"> Last Name : </label>
                        <div class="col-sm-7 has-error">
                            <input type="text" id="form-field-1" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="form-field-1">Staff Email : </label>
                        <div class="col-sm-7 has-error">
                            <input type="text" id="form-field-1" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="form-field-1">Staff Code : </label>
                        <div class="col-sm-7">
                            <input type="text" id="form-field-1" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="form-field-1">Password: : </label>
                        <div class="col-sm-7">
                            <input type="text" id="form-field-1" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="form-field-1">Activated Staff: </label>
                        <div class="col-sm-7">
                            <input type="text" id="form-field-1" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="form-field-1">Receive Email At Open Ticket : </label>
                        <div class="col-sm-7">
                            <input type="text" id="form-field-1" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="form-field-1">Setting System : </label>
                        <div class="col-sm-7">
                            <input type="text" id="form-field-1" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="clearfix form-actions">
            <div class="col-sm-offset-4 col-md-9">
                <button class="btn btn-success" type="button">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Submit
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn btn-danger" type="reset">
                    <i class="ace-icon fa fa-backward bigger-110"></i>
                    Back
                </button>
            </div>
        </div>
    </div>

<script type="text/javascript">
        jQuery(function ($) {

            $('#id-input-file-3').ace_file_input({
                style: 'well',
                btn_choose: 'Drop files here or click to choose',
                btn_change: null,
                no_icon: 'ace-icon fa fa-cloud-upload',
                droppable: true,
                thumbnail: 'small'//large | fit
                //,icon_remove:null//set null, to hide remove/reset button
                /**,before_change:function(files, dropped) {
                    //Check an example below
                    //or examples/file-upload.html
                    return true;
                }*/
                /**,before_remove : function() {
                    return true;
                }*/
                ,
                preview_error: function (filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }

            }).on('change', function () {
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });





            //dynamically change allowed formats by changing allowExt && allowMime function
            $('#id-file-format').removeAttr('checked').on('change', function () {
                var whitelist_ext, whitelist_mime;
                var btn_choose
                var no_icon
                if (this.checked) {
                    btn_choose = "Drop images here or click to choose";
                    no_icon = "ace-icon fa fa-picture-o";

                    whitelist_ext = ["jpeg", "jpg", "png", "gif", "bmp"];
                    whitelist_mime = ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"];
                }
                else {
                    btn_choose = "Drop files here or click to choose";
                    no_icon = "ace-icon fa fa-cloud-upload";

                    whitelist_ext = null;//all extensions are acceptable
                    whitelist_mime = null;//all mimes are acceptable
                }
                var file_input = $('#id-input-file-3');
                file_input
                .ace_file_input('update_settings',
                {
                    'btn_choose': btn_choose,
                    'no_icon': no_icon,
                    'allowExt': whitelist_ext,
                    'allowMime': whitelist_mime
                })
                file_input.ace_file_input('reset_input');

                file_input
                .off('file.error.ace')
                .on('file.error.ace', function (e, info) {
                    //console.log(info.file_count);//number of selected files
                    //console.log(info.invalid_count);//number of invalid files
                    //console.log(info.error_list);//a list of errors in the following format

                    //info.error_count['ext']
                    //info.error_count['mime']
                    //info.error_count['size']

                    //info.error_list['ext']  = [list of file names with invalid extension]
                    //info.error_list['mime'] = [list of file names with invalid mimetype]
                    //info.error_list['size'] = [list of file names with invalid size]


                    /**
                    if( !info.dropped ) {
                        //perhapse reset file field if files have been selected, and there are invalid files among them
                        //when files are dropped, only valid files will be added to our file array
                        e.preventDefault();//it will rest input
                    }
                    */

                    //if files have been selected (not dropped), you can choose to reset input
                    //because browser keeps all selected files anyway and this cannot be changed
                    //we can only reset file field to become empty again
                    //on any case you still should check files with your server side script
                    //because any arbitrary file can be uploaded by user and it's not safe to rely on browser-side measures
                });
            });
        });
</script>
