
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<ul class="nav nav-list">
    <li class="active">
        <a href="index.html">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Ticket </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a ui-sref="OpenTicket" class="dropdown-toggle">
            <span class="menu-text">
                Open Ticket
            </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a ui-sref="MyTicket" class="dropdown-toggle">
            <span class="menu-text"> My Ticket </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a ui-sref="NotAssign" class="dropdown-toggle">
            <span class="menu-text"> Ticket(s) Not Assign </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a ui-sref="AllTicket" class="dropdown-toggle">
            <span class="menu-text"> All Ticket(s) </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="active">
    <a href="#">
        <i class="menu-icon fa fa-tachometer"></i>
        <span class="menu-text"> Ticket Report </span>
    </a>
    </li>

</ul><!-- /.nav-list -->
<!-- #section:basics/sidebar.layout.minimize -->
