
<div row>
    <div class="page-header">

        <div class="col-md-12 col-xs-12">
            <h3 style="color:steelblue">
                All Ticket(s)
                <button ui-sref="#" type="button" class="btn btn-grey pull-right" onClick="history.go(0)" VALUE="Refresh">
                    <i class="ace-icon fa fa-refresh"></i>Reset
                </button>
                <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#modal_basic2">Search Ticket</button>                 
            </h3>         
            <br />
        </div>
    </div>
</div>
     <!-- /.page-header -->


<div class="modal" id="modal_basic2" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" @*align="center"*@>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:black"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead" style="color:gray"><strong>Search Criteria</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <label class="col-md-2 control-label">Search Status :</label>
                        <div class="checkbox">
                            <label class="block col-md-1">
                                <input name="form-field-checkbox" type="checkbox" class="ace input-lg" />
                                <span class="lbl bigger"> All Status</span>
                            </label>
                            <label class="block col-md-1">
                                <input name="form-field-checkbox" type="checkbox" class="ace input-lg" />
                                <span class="lbl bigger"> Opened</span>
                            </label>
                            <label class="block col-md-1">
                                <input name="form-field-checkbox" type="checkbox" class="ace input-lg" />
                                <span class="lbl bigger"> Assigned</span>
                            </label>
                            <label class="block col-md-1">
                                <input name="form-field-checkbox" type="checkbox" class="ace input-lg" />
                                <span class="lbl bigger"> Closed</span>
                            </label>
                            <label class="block col-md-1">
                                <input name="form-field-checkbox" type="checkbox" class="ace input-lg" />
                                <span class="lbl bigger"> Approved</span>
                            </label>
                            <label class="block col-md-1">
                                <input name="form-field-checkbox" type="checkbox" class="ace input-lg" />
                                <span class="lbl bigger"> Reopen</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-lg-12"><h3></h3></div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5  control-label"> Ticket Group :</label>
                            <div class="col-sm-7">
                                <select class="selectpicker form-control">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12"><h3></h3></div>
                        <div class="form-group">
                            <label class="col-sm-5  control-label"> Person in charge (PIC) :</label>
                            <div class="col-sm-7">
                                <select class="selectpicker form-control">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> Merchant Name :</label>
                            <div class="col-sm-8">
                                <select class="selectpicker form-control">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12"><h3></h3></div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> Brand Name :</label>
                            <div class="col-sm-8">
                                <select class="selectpicker form-control">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12"><h3></h3></div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> Brand Name :</label>
                            <div class="col-sm-8">
                                <select class="selectpicker form-control">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                    </div>
              

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal"><i class="ace-icon fa fa-search"></i>Search</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
    </div>
</div>


        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div class="demo-container">

                    <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
                </div>

            </div><!-- /.col -->
        </div><!-- /.row -->

        <style>
            #gridContainer {
                height: auto;
            }

            #eventContainer {
                border: 1px solid lightgray;
                margin-top: 20px;
                min-height: 50px;
                padding: 5px;
            }

                #eventContainer .eventLog {
                    margin-top: 5px;
                }

            #clearLog {
                float: right;
            }
        </style>
