<div class="page-header">
    <h1>
        Dashboard
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            overview &amp; stats
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row" ng-controller="AllTicketController">
    <div class="col-xs-12">
        
        <div class="demo-container">
            <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
        </div>

    </div><!-- /.col -->
</div><!-- /.row -->

<style>
    #gridContainer {
    height: auto;
    width: 100%;
}
</style>
