
<div class="page-header">
    <h3 style="color:steelblue">
        All Ticket(s)
    </h3>

</div><!-- /.page-header -->

<div class="row">
    <div class="col-md-12 col-xs-12">

        <div class="demo-container">

            <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
        </div>

    </div><!-- /.col -->
</div><!-- /.row -->

<style>
    #gridContainer {
        height: auto;
    }

    #eventContainer {
        border: 1px solid lightgray;
        margin-top: 20px;
        min-height: 50px;
        padding: 5px;
    }

        #eventContainer .eventLog {
            margin-top: 5px;
        }

    #clearLog {
        float: right;
    }
</style>


