
<div class="page-header">
    <h3 style="color:steelblue">
            Reply Ticket
    </h3>

</div><!-- /.page-header -->


@*<div class="title">
    <h5>{{TicketNumber}}</h5>
    </div>*@

<div class="row">
    <div class="col-md-3 col-xs-3 pricing-box">
        <div class="widget-box widget-color-orange">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">CONTACT NAME</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>
                            <a @*href="#"*@ class="btn btn-yellow btn-sm">
                                <i class="ace-icon glyphicon glyphicon-user bigger-200"></i>
                            </a>
                        </li>
                    </ul>
                    <hr />
                    <div class="price">
                        @*$10
                        <small>/month</small>*@
                    </div>
                </div>

                <div>
                    <a @*href="#"*@ class="btn btn-block btn-warning">
                      @* <i class="ace-icon fa fa-shopping-cart bigger-110"></i>
                         <span>Buy</span>*@
                    </a>
                </div>
            </div>
        </div>

        <div class="space-24"></div>

        <div class="widget-box widget-color-red">
            <div class="widget-header">
                <h5 class="widget-title bigger lighter">TICKET DURATION</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li>
                            <a @*href="#"*@ class="btn btn-danger btn-sm">
                                <i class="ace-icon glyphicon glyphicon-time bigger-200"></i>
                            </a>
                        </li>
                    </ul>

                    <hr />
                    <div class="price">
                        @*$15
                        <small>/month</small>*@
                    </div>
                </div>

                <div>
                    <a @*href="#"*@ class="btn btn-block btn-danger">
                        @*<i class="ace-icon fa fa-shopping-cart bigger-110"></i>
                        <span>Buy</span>*@
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-9 widget-container-col" id="widget-container-col-11">
        <div class="widget-box widget-color-grey" id="widget-box-11">
            <div class="widget-header">
                <h6 class="widget-title">Scroll Content</h6>

                <div class="widget-toolbar">
                    <a href="#" data-action="settings">
                        <i class="ace-icon fa fa-cog"></i>
                    </a>

                    <a href="#" data-action="reload">
                        <i class="ace-icon fa fa-refresh"></i>
                    </a>

                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>

                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>

                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <!-- #section:custom/scrollbar -->
                <div class="widget-main padding-4 scrollable" data-size="125">      
                    <div class="content"><br />
                        <div class="alert alert-info">
                            {{TicketDetail}}
                        </div>
                        <br />
                        @*<div class="alert alert-danger">
                            Lorem ipsum dolor sit amet, consectetur adipiscing.
                        </div>
                        <div class="alert alert-success">
                            Lorem ipsum dolor sit amet, consectetur adipiscing.
                        </div>*@
                    </div>
                </div>

                <!-- /section:custom/scrollbar -->
            </div>
        </div>
    </div>
</div>
									